.tituloPrincipalHome{

}
.articlePeliculas{
    
}
.categoriesMasVistas{ /*aca trae toda la info de la peli en la home: 
nombre, boton de descripcion, descripción detalle pero en realidad lo 
trae de otro componente asi que creo que no va nada aca*/

}

.section1{
    border-radius: 37px 37px 37px 37px;
    border: 2px solid #0f030f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}